<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benifits of waking</title>
</head>
<body>
    <p>Physical activity, such as walking, 
        is important for weight control because it 
        helps you burn calories.If you add {{time}} minutes of brisk 
        walking to your daily routine, 
        you could burn about {{calories}} more calories a day.</p><br>
</body>
</html>